# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @unaihuete93

#Only for specific exam owners
*/AZ400.md @unaihuete93 

*/AZ204.md @mkennten

*/AZ104.md @georgiakalyva 
*/AI102.md @georgiakalyva 
*/DP090.md @georgiakalyva 
*/DP100.md @georgiakalyva 
